body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: #fafafa;
}
body {
  overflow: auto;
  font-family: 'Lora', Georgia, 'Times New Roman';
}

body img{
  bottom: 0;
  left: 0%;
  position: fixed;
  width: 50%;
  height: auto;
  max-height: 900px;
  max-width: 900px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  margin: 32px 0;
  color: #aaa;
  border-bottom: 1px dotted #aaa;
  line-height: 2em;
}
a,
a:visited,
a:active {
  color: black;
  text-decoration: underline;
}

main {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  min-height: 100%;
  background: #f3f3f3;
  padding: 0 50px;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

main .navigation,
main section,
main footer {
  width: 100%;
  box-sizing: border-box;
}
main section {
  flex-grow: 1;
  padding: 100px 0 0;
}

main .navigation,
main footer {
  flex-grow: 0;
  padding: 30px 0;
}
main footer {
  position: relative;
  font-size: 12px;
  color: #888;
  max-width: 500px;
  padding-left: 20px;
}

main footer figure {
  display: block;
  margin: 0;
  background: transparent url('./img/heart.svg') no-repeat top left;
  background-size: cover;
  width: 13px;
  height: 13px;
  vertical-align: top;
  position: absolute;
  left: 0;
  top: 30px;
}

main p, ul {
  color: #151515;
  line-height: 1.7em;
  max-width: 500px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul ul {
  padding: 16px 0 16px 16px;
}


ul li {
  margin-bottom: 16px;
  color: #888;
  font-style: italic;
  font-size: 14px;
}

ul li strong {
  /*font-family: Georgia, 'Times New Roman';*/
  font-weight: 600;
  color: #151515;
  font-style: normal;
  font-size: 16px;
}

/*main .navigation {
  background: #e5e5e5;
  width: 100%;
  margin-left: -50px;
  padding: 30px 50px;
  box-sizing: content-box;
  border-bottom: 1px solid #ddd;
}
*/
.navigation a {
  text-decoration: none;
  margin-right: 16px;
  color: #aaa;
}

.navigation .active {
  text-decoration: underline;
  color: #151515;
}

.research ul li {
  font-style: normal; 
}

.research ul li cite {
  font-style: italic; 
}




/* RESPONSIVE STYLES */


@media (max-width: 800px) {
  body img{
    top: 0;
    left: 0;
    bottom: initial;
    position: static;
    width: 100%;
    height: auto;
    display: block;
  }

  main {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 0;
    background: #f3f3f3;
    padding: 0 25px;
    box-sizing: border-box;
    display: block;
    flex-direction: none;
    flex-wrap: none;
    justify-content: none;
    align-content: none;
    align-items: none;
  }
  main section {
    padding-top: 0;
  }

  main section,
  main footer {
    flex-grow: none;
  }
  main .navigation {
    background: #e5e5e5;
    width: 100%;
    margin-left: -25px;
    padding: 30px 25px;
    box-sizing: content-box;
    border-bottom: 1px solid #ddd;
  }

  main .navigation a {
    display: block;
    line-height: 1.6em;
  }

}
